<h2>Information for New Users</h2>

Lots of things you can do here:
<ul>
	<li>
		Search the knowledgebase for lots of interesting things:
		<ul>
			<li>Find experiments based on author, component of immersion, or task.</li>
			<li>Filter results based on type of experiment, number of participants, size of VE, visual realism of VE, etc.</li>
			<li>Learn what are the most important aspects for different tasks, based on number of experiments, number of papers, number of participants, etc.</li>
			<li>Learn about different tasks, components of immersion, systems, etc.</li>
			<li>Free text search</li>
		</ul>
		<%= button_to 'Start searching now!', search_path %>
	</li>
	<li>
		Contribute to the knowledgebase by adding a new paper.  In order to add to the knowledgebase you must be a registered user, and the experiment you enter must reference a published paper.<br>
		Not yet a member? <%= link_to "Sign up here", new_user_registration_path %><br>
		Already a member? Sign-in here: <%= link_to "Sign-in here", new_user_session_path %><br>
		Already signed-in?  <%= link_to 'Add New Entry', new_entry_path %>
	</li>
	<li>
		This site also lets you create a profile and save entries that you find interesting.
	</li>
</ul>