<h1>New entry</h1>

<% @systems = Array.new %>
<% @components = Array.new %>
<%= render 'form', :locals => { @systems => @systems, @components => @components } %>

<%= link_to 'Back', entries_path %>
