<p>
	<small><%= link_to 'Dashboard', user_root_path %> << 
	New Entry</small>
</p>

<h1>New Entry</h1>

<% @systems = Array.new %>
<% @components = Array.new %>
<%= render 'new_form', :locals => { @systems => @systems, @components => @components } %>

<%= link_to 'Back', entries_path %>
