body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#container
{
	margin: 0 auto;
	width: 100%;
	background: #fff;
}

#header
{
	background: #ccc;
	padding: 20px;
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#content-container
{
	float: left;
	width: 100%;
	background: #FFF url(layout-two-liquid-background.gif) repeat-y 68% 0;
}

#content
{
	float: right;
	width: 65%;
	padding: 20px 0;
	margin: 0 0 0 4%;
	display: inline;
}

#aside
{
	clear: right;
	float: left;
	width: 25%;
	padding: 20px 0;
	margin: 0 3% 0 0;
	display: inline;
}

#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

.css1 {font-size: 1.0em;}
.css2 {font-size: 1.2em;}
.css3 {font-size: 1.4em;}
.css4 {font-size: 1.6em;}
.css5 {font-size: 1.8em;}
.css6 {font-size: 2.0em;}
