body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#container
{
	margin: 0 0 0 0;
	width: 100%;
	background: #fff;
}

#header
{
	clear: both;
	background: #ccc;
	padding: 20px;
}

#top
{
	width: 100%;
}

#sign_in {
	float: left;
	display: inline;
	width: 50%;
}

#search {
	float: right;
	display: inline;
	width: 40%;
}

#navigation
{
	clear: both;
	float: left;
	width: 100%;
	background: #333;
}

#content-container
{
	clear: both;
	float: left;
	width: 100%;
	background: #FFF;
}

#aside
{
	float: left;
	width: 30%;
	margin: 0;
	display: inline;
}

#content
{
	float: right;
	width: 70%;
	padding: 0;
	margin: 0;
	display: inline;
}



#footer
{
	clear: left;
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

#cloud {
	background-color: #66DDEE;
}
.css1 {font-size: 1.0em; color: white; text-decoration: none; padding: 10px; }
.css2 {font-size: 1.2em; color: magenta; text-decoration: none; padding: 10px; }
.css3 {font-size: 1.4em; color: green; text-decoration: none; padding: 10px; }
.css4 {font-size: 1.6em; color: purple; text-decoration: none; padding: 10px; }
.css5 {font-size: 1.8em; color: orange; text-decoration: none; padding: 10px; }
.css6 {font-size: 2.0em; color: brown; text-decoration: none; padding: 10px; }
