body { background-color: #fff; }

body, p, ol, ul, td {
  font-family: "segoe ui", segoe, tahoma, verdana, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #0044cb; text-decoration: underline;}
a:visited { color: #1155dc; }
a:hover { text-decoration: none;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}



#cloud {
	background-color: #66DDEE;
}
.css1 {font-size: 1.0em; color: white; text-decoration: none; padding: 10px; }
.css2 {font-size: 1.2em; color: magenta; text-decoration: none; padding: 10px; }
.css3 {font-size: 1.4em; color: green; text-decoration: none; padding: 10px; }
.css4 {font-size: 1.6em; color: purple; text-decoration: none; padding: 10px; }
.css5 {font-size: 1.8em; color: orange; text-decoration: none; padding: 10px; }
.css6 {font-size: 2.0em; color: brown; text-decoration: none; padding: 10px; }
