<h1>Welcome to the site!</h1>

<p>
	Blah, blah, blah.
</p>

<p>
	Are you new to the site?  Want to know how/why to use it?  Check out our intro section:<br>
	<%= link_to "Intro", intro_path %>
</p>

<p>
	Aleady know what you're doing?<br>
	<%= link_to "Add new entry", new_entry_path %>
	<%= link_to "Search the knowledgebase", search_path %>
</p>


